############################################
#
# Buildout Configuration File for ZEO Plone
# -----------------------------------------
############################################


[buildout]

############################################
# Plone Component Versions
# ------------------------
extends =
    base.cfg
    http://dist.plone.org/release/4.1.6/versions.cfg
    http://good-py.appspot.com/release/plone.app.theming/1.0b9
    http://good-py.appspot.com/release/dexterity/1.1/?plone=4.1.6
    versions.cfg
find-links +=
    http://dist.plone.org/release/4.1.6


############################################
# Ports
# -----
# Specify the ports on which your Zope installation
# will listen.
# ZEO Server
zeo-address = 127.0.0.1:8100
# Zope client 1
http-address = 127.0.0.1:8080
webdav-address = 127.0.0.1:8180
# Additional clients:
client2-address = 127.0.0.1:8081



# If you try to start Zope as root, it will change user id to run as
# the effective user specified here. This user id must own the var directory
# of your buildout.
effective-user = zpuser


############################################
# Eggs
# ----
# Add an indented line to the eggs section for any Python
# eggs or packages you wish to include.
#
eggs =
    Plone
    Pillow
    plone.app.theming
    plone.app.dexterity
    Products.PloneHotFix20110928
    Products.ContentWellPortlets
    Products.PloneFormGen
    Products.RedirectionTool
    Products.PloneKeywordManager
    Products.FacultyStaffDirectory
    webcouturier.dropdownmenu
    z3c.jbot
    collective.easyslideshow
#    asutheme.diazo
    plonediazo.asu


############################################
# ZCML Slugs
# ----------
# Some eggs need ZCML slugs to tell Zope to
# use them. Eggs with names beginning with "Products."
# usually don't need this.
zcml =
    collective.easyslideshow
#    plone.reload


############################################
# Development Eggs
# Provide the *paths* to the eggs you are developing here:
develop =
#     src/asutheme.diazo
     src/plonediazo.asu
#    src/my.package


############################################
# Debug Mode
# ----------
# Change debug-mode to "on" to run in development mode.
#
debug-mode = off
# Add-on developers should turn deprecation warnings on
deprecation-warnings = off
# change verbose-security to "on" for useful security errors while developing
verbose-security = off


############################################
# Backup Directory
# ----------------
# Sets the target directory for the bin/backup and bin/snapshotbackup
# commands. Default is inside this project's var directory, but ideally
# this should be on a separate volume or backup server.
#
backups-dir=${buildout:directory}/var


############################################
# Environment Variables
# ---------------------
environment-vars =
    zope_i18n_compile_mo_files true
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    PYTHONHASHSEED random
    #    TZ US/Eastern
    #    zope_i18n_allowed_languages en es de fr


############################################
# Initial User
# ------------
# This is the user id and password that will be used to create the initial
user=admin:xxxxxx


############################################
# Parts Specification
# -------------------
# Specifies the components that should be included in the buildout.
# All the basics are in the base.cfg extension; you may add your
# own if you need them at the end of this file.
parts =
    filestorage
    zeoserver
    client1
    client2
    zopepy
    zopeskel
    unifiedinstaller
    backup
    chown-zeo

[filestorage]
recipe = collective.recipe.filestorage
blob-storage = var/filestorage/blobstorage-%(fs_part_name)s
parts = copp

[filestorage_copp]
zodb-cache-size = 10000
zodb-name = copp
zodb-mountpoint = /copp.asu.edu
location = ${buildout:directory}/var/filestorage/copp-data.fs


############################################
# Versions Specification
# ----------------------
#
[versions]
ZopeSkel = 2.21.2
Cheetah = 2.2.1
Pillow = 1.7.7
Products.DocFinderTab = 1.0.5
collective.recipe.backup = 2.4
ordereddict = 1.1
plone.recipe.command = 1.1
plone.recipe.unifiedinstaller = 4.1
